body {
    background: #0a0a0a;
}

.logo-container {
    width: 150px;
    border: solid;
    border-width: 1px;
    border-color: #a768fd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
