@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto.ttf) format('truetype');
}

@font-face {
    font-family: 'RobotoMono';
    src: url(fonts/RobotoMono.ttf) format('truetype');
}

body {
    background: #0a0a0a;
    font-family: 'Roboto';
}

.logo-container {
    width: 150px;
    border: solid;
    border-width: 1px;
    border-color: #a768fd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
